@import "tailwindcss";

@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-poppins);
}

::selection {
  background: #3b82f6;
  color: white;
}